.footer {
    background: #111827;
    color: white;
    border-top: 4px solid #de555f;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        .footerColumn {
            h2 {
                color: #de555f;
                font-size: 32px;
                margin-bottom: 26px;
                position: relative;
            }

            h2::after {
                content: "";
                display: block;
                width: 56px;
                height: 3px;
                background: #de555f;
                margin-top: 13px;
                border-radius: 10px;
            }

            h3 {
                color: #de555f;
                font-size: 26px;
                margin-bottom: 26px;
                position: relative;
            }

            h3::after {
                content: "";
                display: block;
                width: 45px;
                height: 3px;
                background: #de555f;
                margin-top: 8px;
                border-radius: 10px;
            }

            .footertag {
                color: #d1d5db;
                line-height: 1.8;
                font-size: 18px;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            li {
                margin-bottom: 14px;
                font-size: 17px;
                cursor: pointer;
                transition: .3s ease;
                color: #d1d5db;
            }

            a {
                text-decoration: none;
                color: #d1d5db;
                font-size: 17px;
                transition: .3s ease;
            }

            li:hover,
            a:hover {
                color: #de555f;
                padding-left: 6px;
            }

            .footerPara {
                .footerbox {
                    margin-bottom: 18px;

                    p {
                        font-size: 15px;
                        line-height: 1.5;
                        color: #d1d5db;
                        margin: 4px 0;
                    }
                }
            }
        }

        .socialLinks {
            display: flex;
            gap: 12px;
            margin-top: 20px;

            a {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.288);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                transition: all .3s ease;


                &:hover {
                    background: #de555f;
                    transform: translateY(-4px);
                }

                i {
                    font-size: 20px;
                }
            }
        }
    }

    .footerBottom {
        text-align: center;
        padding: 8px;
        border-top: 1px solid rgba(255, 255, 255, .08);

        p.footerbottomPara {
            text-align: center;
            color: #d1d5db;
            line-height: 1.8;
            font-size: 15px;
            margin-bottom: 10px;
        }

    }
}