<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <h2>Login</h2>

        <div class="login-field">
            <label>Email</label>
            <div class="input-wrapper">
                <input type="email" formControlName="email" placeholder="Enter email">
                <mat-icon matSuffix>email</mat-icon>
            </div>

            @if (loginForm.controls.email.invalid &&
            (loginForm.controls.email.touched || submitted)) {

            @if (loginForm.controls.email.errors?.['required']) {
            <span class="error">Email is required</span>
            }

            @if (loginForm.controls.email.errors?.['email']) {
            <span class="error">Enter valid email address</span>
            }
            }
        </div>

        <div class="login-field">
            <label>Password</label>

            <div class="input-wrapper">
                <input type="password" formControlName="password" placeholder="Enter password">
                <mat-icon matSuffix>lock</mat-icon>
            </div>

            @if (loginForm.controls.password.invalid &&
            (loginForm.controls.password.touched || submitted)) {

            @if (loginForm.controls.password.errors?.['required']) {
            <span class="error">Password is required</span>
            }
            }
        </div>

        <div class="forgotPassword">
            <a (click)="forgotPassword()">Forgot Password?</a>
        </div>

        @if(error){
        <div class="login-error">{{ error }}</div>
        }

        <button type="submit" class="login-btn">Login</button>

        <p class="register-link"> Don't have an account?<a routerLink="/register">Register</a>
        </p>

    </form>
</div>