.revenueContainer {
    padding: 24px;

    .glassCard {
        padding: 24px;
        border-radius: 24px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.32);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.15);

        h2 {
            text-align: left;
            font-size: 32px;
            color: black;
            margin-bottom: 25px;
        }

        .revenueCards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 50px;
            margin-bottom: 35px;
            background: rgba(255, 255, 255, 0.2392156863);

            .card {
                padding: 25px;
                text-align: center;
                background: rgba(255, 255, 255, .18);
                backdrop-filter: blur(20px);
                border-radius: 20px;
                box-shadow: 0 8px 24px rgba(0, 0, 0, .1);

                h3 {
                    color: black;
                    margin-bottom: 10px;
                    font-size: 24px;
                }

                p {
                    font-size: 25px;
                    font-weight: 700;
                    color: #ef0e0e;
                }
            }
        }

        .analyticsGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 25px;
            background: rgba(255, 255, 255, 0.2392156863);

            .analyticsCard {
                padding: 25px;
                border-radius: 20px;
                background: rgba(255, 255, 255, .18);
                backdrop-filter: blur(20px);

                h3 {
                    color: black;
                    margin-bottom: 20px;
                    font-size: 24px;
                }

                .item {
                    display: flex;
                    justify-content: space-between;
                    padding: 12px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, .08);

                    span,
                    strong {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}