.bookingDialog {
    padding:  24px;
    min-width: 500px;

    .dialogHeader {
        margin-bottom: 20px;

        h2 {
            margin-top: 18px;
            text-align: center;
            color: #1e293b;
            font-size: 28px;
            font-weight: 700;
        }
    }

    .dialogContent {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .field {
            width: 100%;

            mat-form-field {
                width: 100%;
            }
        }

        .dialogActions {
            margin-top: 16px;
            display: flex;
            justify-content: flex-end;
            gap: 12px;
        }
    }
}