.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    margin: 50px;

    .statCard {
        padding: 30px;
        text-align: center;
        background: rgb(255 255 255 / 68%);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-6px);
            box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
        }

        h2 {
            color: black;
            font-size: 24px;
            margin-bottom: 24px;
        }

        h1 {
            color: #ef0e0e;;
            font-size: 40px;
            font-weight: 700;
        }
    }
}