.home {
    background-position: center;
    // height: 90vh;
    padding: 70px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background: linear-gradient(135deg, #f64d5921, #de555f75, #b98ba48c);
    backdrop-filter: blur(5px);

    .heroCard {
        width: 90%;
        max-width: 900px;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 24px;
        padding: 60px 50px;
        text-align: center;
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
        // z-index: 1;

        .content {

            h1 {
                margin: 0 0 30px;
                font-size: 50px;
                color: #de555f;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                font-weight: 600;
                margin: 0 auto 35px;
                color: #4f4f4f; 
                line-height: 1.7;
            }

            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-bottom: 35px;

                button {
                    padding: 14px 28px;
                    border: none;
                    border-radius: 12px;
                    background-color: #ff4d4d;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                }

                .primaryBtn {
                    background: linear-gradient(135deg, #d7323e, #ed6239);
                    color: white;
                    transition: 0.3s ease;

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 10px 20px rgba(235, 118, 126, 0.603);
                    }
                }

                .secondaryBtn {
                    background: white;
                    color: #de555f;
                    border: 2px solid #de555f;

                    &:hover {
                        background: #de555f;
                        color: white;
                        transform: translateY(-3px);
                    }
                }
            }

            .stats {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 70px;
                margin-top: 12px;

                div {
                    text-align: center;
                }

                h3 {
                    color: #e0470f;
                    font-size: 34px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                span {
                    color: #444444;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

        }
    }
}
